<h1>Toutes mes réservations</h1>

<% @bookings.each do |booking| %>

  <div style="display: flex">
    <p style="margin-left: 15px;"><%= booking.vehicule.brand %>: <%= booking.vehicule.model %></p>
    <p style="margin-left: 15px;">// Du : <%= booking.start_date %> au <%= booking.end_date %></p>
    <p style="margin-left: 15px;">// Prix : <%= (booking.end_date - booking.start_date).to_i * booking.vehicule.price_per_d %>€</p>
    <p style="margin-left: 15px; color: grey"><%= booking.status %></p>
    <%# link_to for destroy booking %>
    <%# <%= link_to "Annuler", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>

<% end %>
