<div class="jacky-container">

  <% if @user == current_user %>
    <h1>Mon Profil</h1>
  <% else %>
  <div class="user-info">
    <h2 style="display: inline-block">Profil de <%= @user.first_name %> <%= @user.last_name %></h2>
    <%= image_tag @user.image_url, class: "avatar" %>
  </div>
  <% end %>

  <hr>
  <h3><strong>Mes annonces</strong><h3></h3>

    <% @vehicules.each do |vehicule| %>
      <div class="card-vehicule-owner">
        <%= render 'shared/card_vehicule', vehicule: vehicule %>

          <% if vehicule.user == current_user %>
            <%= button_to edit_vehicule_path(vehicule), method: :get, class: "edit-btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= button_to vehicule_path(vehicule), method: :get, method: :delete, data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce véhicule ?" },class: "delete-btn" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>

      </div>
    <% end %>

</div>
<%# <i class="fa-solid fa-pen-to-square"></i> %>
<%# <i class="fa-solid fa-trash-can"></i> %>
